<div class="splash container-fluid">
  <div class="text-center logo">
    <img src="/images/WhateverNote-logo.png">
    <p>The online organizational tool that lets you write down whatever you feel like writing</p>
  </div>
  
  <button class="btn btn-primary btn-lg"
    data-toggle="modal"
    data-target="#sign-in-modal">
    Sign In
  </button>
  <%= link_to "Sign Up", new_user_url %>
  <%= link_to "Sign In", new_session_url %>
  
  <%= render partial: "static_pages/modal" %>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    setupGuestLogin($(".guest_button"));
  });
</script>
<% end %>