<h1>Log In</h1>

<%= render partial: "shared/user_form", locals: {
  user: @user,
  sign_up: false
} %>

<button class="btn btn-primary guest_button">Login As Guest</button>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    setupGuestLogin($(".guest_button"));
  });
</script>
<% end %>