<div class="bbm-modal__section card-shadow">
  <form role="form" class="edit-notebook-params">
    <h4>Rename Notebook</h4>
    <div class="form-group notebook-title">
      <label for="notebook-title-form" class="control-label">
        Title
      </label>
      <input name="notebook[title]"
        id="notebook-title-form"
        class="form-control"
        value="<%= title %>">
    </div>
  </form>
  <div class="error-space"></div>
  <button class="close-modal btn btn-default">
    Close
  </button>
  <button class="submit-edit-notebook btn btn-primary">
    Rename Notebook
  </button>
</div>