<h4>Rename Notebook</h4>
<form>
  <label for="edit_notebook_name">Notebook Name</label>
  <input type="text"
    name="notebook[title]"
    id="edit_notebook_name"
    value="<%= notebook.escape("title") %>">
  <input type="submit" value="Save">
</form>
<button class="btn cancel-edit-notebook">Cancel</button>