<div class="left-sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <button class="btn new-notebook">New Notebook</button>
    </li>
    <% notebooks.each(function(notebook) { %>
      <li class="notebook" data-id="<%= notebook.id %>">
        <a href="javascript:void(0)">
          <%= notebook.escape("title") %>
          <span class="badge"><%= notebook.escape("note_count") %></span>
        </a>
        <button class="btn edit-notebook">Edit</button>
      </li>
    <% }) %>
  </ul>
  <div class="new-notebook-form hidden"></div>
  <div class="edit-notebook-form"></div>
</div>
<div class="notes-index">
</div>