<header class="notebook-header"
  data-toggle="collapse"
  data-target=".notebook-index">
  <span class="index-header">
    <span class="caret"></span>Notebooks
    <button class="btn btn-xxs new-notebook">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</header>
<ul class="nav nav-pills nav-stacked notebook-index collapse in">
  <li class="notebook" data-id="null">
    <a href="javascript:void(0)" class="notebook-title">
      All Notes
      <span class="badge"><%= allNotes.length %></span>
    </a>
  </li>
  <% notebooks.each(function(notebook) { %>
    <li class="notebook" data-id="<%= notebook.id %>">
      <a href="javascript:void(0)" class="notebook-title">
        <div class="notebook-title">
          <%= notebook.escape("title") %>
          <span class="badge"><%= notebook.escape("notes_count") %></span>
          <span class="show-notebook-options">
            <button class="btn btn-xxs">
              <span class="glyphicon glyphicon-expand"></span>
            </button>
          </span>
          <div class="notebook-menu hidden">
            <button class="btn edit-notebook">Edit</button>
            <button class="btn delete-notebook">Delete</button>
          </div>
        </div>
      </a>
    </li>
  <% }) %>
  <li>
    <span class="glyphicon glyphicon-trash"></span>
  </li>
</ul>
<div class="new-notebook-form hidden"></div>
<div class="edit-notebook-form"></div>
