<ul>
  <li>
    <button class="btn new-notebook">New Notebook</button>
  </li>
  <% notebooks.each(function(notebook) { %>
    <li>
      <%= notebook.escape("title") %>
    </li>
  <% }) %>
</ul>
<div class="new-notebook-form hidden">
</div>