<div class="bbm-modal__section card-shadow">
  <h4>New Notebook</h4>
  <form role="form" class="new-notebook-params">
    <div class="form-group notebook-title">
      <label for="notebook-title-form" class="control-label">
        Title
      </label>
      <input name="notebook[title]"
        id="notebook-title-form"
        class="form-control">
    </div>
  </form>
  <div class="error-space"></div>
  <button class="close-modal btn btn-default">
    Close
  </button>
  <button class="submit-new-notebook btn btn-primary">
    Create New Notebook
  </button>
</div>