<div class="splash container-fluid">
  <div class="text-center logo card-shadow">
    <img src="/images/WhateverNote-logo.png">
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="text-box paper-shadow">
        <h3>Sign Up</h3>
        <%= render partial: "shared/user_form", locals: {
          user: @user,
          sign_up: true
        } %>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
  <style type="text/css">
    body {
      background-image: url("/images/pencil_and_paper.jpg");
      background-size: cover;
    }
  </style>
<% end %>