<header class="workspace-header">
  <div class="workspace-header-img">
    <img src="/images/WhateverNote-logo-50.png">
  </div>
  <span class="inner-workspace-header">
    <form id="search-bar">
      <input type="text" id="search-bar-input">
      <input type="submit" value="search">
    </form>
    <button class="btn btn-primary new-note">
      <span class="glyphicon glyphicon-plus"></span>New Note
    </button>
  </span>
</header>
<div id="modal-space"></div>
<div id="workspace">
  <div class="sidebar-wrapper">
    <div class="left-sidebar">
    </div>
  </div>
  <div class="main-space">
  </div>
</div>