<header class="workspace-header">
  <div class="workspace-header-img">
    <img src="/images/WhateverNote-logo-50.png">
  </div>
  <span class="inner-workspace-header">
    <form id="search-bar">
      <input type="text" id="search-bar-input">
      <input type="submit" value="search">
    </form>
  </span>
</header>
<div id="workspace">
  <div class="left-sidebar">
  </div>
  <div class="main-space">
  </div>
</div>