<div class="middle-column">
  <h3>Notes</h3>

  <ul class="nav nav-pills nav-stacked notes-index">
    <li>
      <button class="btn new-note">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </li>
    <% notes.each(function(note) { %>
      <li class="note-preview" data-id="<%= note.id %>">
        <a href="javascript:void(0)" class="note-title-preview">
          <header class="note-preview-title">
            <%= note.escape("title") %>
          </header>
          <!-- <section class="note-preview-contents">
            <%= note.preview() %>
          </section> -->
        </a>
        <!-- <button class="btn delete-note">Delete</button> -->
      </li>
    <% }) %>
  </ul>
</div>

<div class="show-area">
</div>