<div class="middle-column">
  <h3 class="notes-index-title">Notes</h3>

  <ul class="nav notes-index">
    <li>
      <button class="btn new-note">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </li>
    <% notes.each(function(note) { %>
      <li class="note-preview" data-id="<%= note.id %>">
        <span class="note-preview-title">
          <%= note.escape("title") %>
        </span>
        <div class="note-preview-contents">
          <%= note.preview() %>
        </div>
        <!-- <button class="btn delete-note">Delete</button> -->
      </li>
    <% }) %>
  </ul>
</div>

<div class="show-area">
</div>