<h1><%= note.escape("title") %></h1>

<form>
  <input type="text" name="note[title]" value="<%= note.escape("title") %>">
  <textarea name="note[contents]"><%= note.escape("contents") %></textarea>
  <input type="submit" value="Save">
</form>