/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require backbone.modal
 *= require backbone.modal.theme
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html {
  height: 100%;
}

body {
  height: 100%;
}

.page-header {
  background-color: #5D736E;
  height: 32px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  color: white;
  border: 1px solid #2C423A;
}

.page-header form {
  display: inline-block;
  color: black;
  float: right;
}

.page-header-inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
  padding: 0 10px;
}

.signed-out-buttons {
  float: right;
}

.modal-content form {
  padding: 0 10px;
}

.splash {
  height: calc(100% - 32px);
  padding: 0 60px;
}

.logo {
  background: #EFFFF4;
  margin: 30px auto;
  width: 500px;
  padding: 10px;
  border-radius: 25px;
}

.text-box {
  background: #EFFFF4;
  padding: 10px 30px;
}

.card-shadow {
  box-shadow:
        0px 0px 1px rgba(0,0,0,0.65), /* The top layer shadow */
        5px 8px 1px #EFFFF4, /* The second layer */
        5px 8px 4px rgba(0,0,0,0.65), /* The second layer shadow */
        10px 16px 0px #EFFFF4, /* The third layer */
        10px 16px 8px rgba(0,0,0,0.65); /* The third layer shadow */
}

.paper-shadow {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
}

.paper-shadow:before, .paper-shadow:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: inherit;
  border-radius: inherit;
}

.paper-shadow:before {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-3.5deg);
}

.paper-shadow:after {
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(2.4deg);
}

.big-glyph {
  font-size: 50px;
  text-align: center;
}

.btn-signout {
  background: white;
  padding: 3px;
  font-size: 12px;
}

.btn-xxs {
  padding: 1px;
  font-size: 8px;
  border-radius: 2px;
}