.notes-index-view {
  height: 100%;
  position: relative;
}

.middle-column {
  width: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: thin solid #7D9992;
  overflow-x: visible;
  overflow-y: scroll;
}

.middle-column li {
  border-bottom: thin solid #7D9992;
}

.ui-draggable-dragging {
  width: 350px;
}

.note-preview {
  cursor: pointer;
  margin: 0;
}

.note-preview:hover {
  background: gray;
}

.note-preview-title {
  font-size: 12px;
  font-weight: bold;
}

.note-preview-contents {
  font-size: 10px;
  overflow: hidden;
  height: 31px;
  line-height: 10px;
}