.note-show-header {
  background: #91B2AB;
  padding: 5px 10px 0 10px;
  border-bottom: thin solid #7D9992;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

.note-show-header div {
  display: inline-block;
}

.note-notebook-select {
  display: inline block;
  background: transparent;
  border: none;
}

.tags {
  height: 35px;
}

.note-show-edit-area {
  padding: 0 10px;
}

.note-tag-list {
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

.note-tags {
  display: inline-block;
  background: #5D736E;
  color: white;
  border-radius: 12px;
  padding: 3px 10px;
  line-height: 11px;
  border: thin solid #7D9992;
}

.note-tags a {
  color: inherit;
  text-decoration: none;
}

.note-tags a:hover {
  color: red;
  text-decoration: none;
}

.new-tag-note {
  max-width: 100px;
  line-height: 11px;
  font-size: 11px;
  background-color: transparent;
  border: 0;
  display: inline;
}

.new-tag-note-start {
  cursor: pointer;
}

.editor-wrapper {
  width: calc(100% - 10px);
  height: 600px;
  background: white;
}