.left-sidebar {
  border-right: thin solid gray;
}

.left-sidebar header {
  height: 30px;
  background-color: #91B2AB;
  border-top: thin solid gray;
  border-bottom: thin solid gray;
  border-radius: 2px;
  cursor: pointer;
}

.left-sidebar header button {
  display: inline;
  float: right;
}

.left-sidebar a {
  color: black;
}

.left-sidebar a:hover {
  color: black;
}

.left-sidebar li {
  font-size: 12px;
}

.left-sidebar .badge {
  font-size: 10px;
}

.show-notebook-options {
  float: right;
  font-size: 14px;
  display: none;
}

li:hover .show-notebook-options {
  display: inline;
}