.left-sidebar header {
  height: 30px;
  line-height: 30px;
  background-color: #91B2AB;
  border-top: thin solid #7D9992;
  border-bottom: thin solid #7D9992;
  cursor: pointer;
}

.left-sidebar .index-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}

.left-sidebar header button {
  display: inline;
  float: right;
  margin-right: 5px;
}

.item {
  cursor: pointer;
  height: 30px;
  vertical-align: middle;
  padding: 0 10px;
}

.item:hover {
  background: #D0FFF4;
}

.item-title {
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
}

.active {
  background: #D0FFF4;
}

.left-sidebar .nav li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  position: inherit;
}

.left-sidebar .badge {
  font-size: 10px;
}

.show-options {
  float: right;
  font-size: 14px;
  width: 15px;
  height: 15px;
}

.show-options-button {
  visibility: hidden;
}

li:hover .show-options-button {
  visibility: visible;
}

.options-menu {
  position: absolute;
  display: block;
  border: thin solid #7D9992;
  background: #EFFFF4;
  z-index: 1;
  list-style: none;
  padding-left: 0;
}

.options-menu .item {
  display: relative;
}

.arrow {
  visibility: hidden;
  float:right;
}

.drag-active .arrow {
  visibility: visible;
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.0s;	
	-webkit-animation-duration: 1.0s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

.drag-active.drag-hover .arrow {
	animation-name: big-pulse;
	-webkit-animation-name: big-pulse;
}

@keyframes pulse {
	0% {
		transform: translateX(10%);
	}
	50% {
		transform: translatex(-50%);
	}	
	100% {
		transform: translateX(10%);
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: translateX(10%);	
	}
	50% {
		-webkit-transform: translateX(-50%);
	}	
	100% {
		-webkit-transform: translateX(10%);	
	}			
}

@keyframes big-pulse {
	0% {
		transform: translateX(-100%);
	}
	50% {
		transform: translatex(-250%);
	}	
	100% {
		transform: translateX(-100%);
	}			
}

@-webkit-keyframes big-pulse {
	0% {
		-webkit-transform: translateX(-100%);	
	}
	50% {
		-webkit-transform: translateX(-250%);
	}	
	100% {
		-webkit-transform: translateX(-100%);	
	}			
}

.bbm-modal__section {
  background: #EFFFF4;
  padding: 10px;
}