.left-sidebar header {
  height: 30px;
  line-height: 30px;
  background-color: #91B2AB;
  border-top: thin solid #7D9992;
  border-bottom: thin solid #7D9992;
  cursor: pointer;
}

.left-sidebar .index-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}

.left-sidebar header button {
  display: inline;
  float: right;
  margin-right: 5px;
}

.item {
  cursor: pointer;
  height: 30px;
  vertical-align: middle;
  padding: 0 10px;
}

.item:hover {
  background: #D0FFF4;
}

.active {
  background: #D0FFF4;
}

.left-sidebar .nav li {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  position: inherit;
}

.left-sidebar .badge {
  font-size: 10px;
}

.show-notebook-options {
  float: right;
  font-size: 14px;
}

.show-notebook-options-button {
  display: none;
}

li:hover .show-notebook-options-button {
  display: inline;
}

.notebook-menu {
  position: absolute;
  display: block;
  background: white;
  z-index: 9999;
}

//.drag-active {
//  background-color: #91B2AB;
//}

.drag-hover {
  background: -webkit-linear-gradient(left,#EFFFF4,#EFFFF4,#91B2AB); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,#EFFFF4,#EFFFF4,#91B2AB); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,#EFFFF4,#EFFFF4,#91B2AB); /*Fx 3.6-15*/
  background: linear-gradient(to right, #EFFFF4,#EFFFF4,#91B2AB); /*Standard*/
}