// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

#main {
  background-color: #EFFFF4;
  height: calc(100% - 32px);
}

.main-view {
  height: 100%;
}

#workspace {
  position: relative;
  height: calc(100% - 50px);
}

.workspace-header {
  height: 50px;
  line-height: 50px;
  position: relative;
}

.workspace-header-img {
  display: inline-block;
  float:left;
}

.inner-workspace-header {
  display: inline-block;
  width: calc(100% - 250px);
  height: 50px;
  position: absolute;
  top: 0;
  left: 250px;
}

#search-bar {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#search-bar-input {
  width: 250px;
}

.left-sidebar {
  width: 230px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.main-space{
  position: absolute;
  left: 230px;
  height: 100%;
  right: 0;
  border-top: thin solid #7D9992;
  overflow: auto;
}

.show-area {
  position: absolute;
  left: 350px;
  height: 100%;
  right: 0;
  overflow: auto;
  padding: 0 10px;
}