<div class="bbm-modal__topbar">
  <span class="bbm-modal__title">
    Rename Tag
  </span>
</div>
<div class="bbm-modal__section">
  <form role="form" class="new-tag-params">
    <div class="form-group tag-name">
      <label for="tag-name-form" class="control-label">
        Name
      </label>
      <input name="tag[name]"
        id="tag-name-form"
        class="form-control"
        value="<%= name %>">
    </div>
  </form>
  <div class="error-space"></div>
</div>
<div class="bbm-modal__bottombar">
  <a href="javascript:void(0)" class="close-modal bbm-button">
    Close
  </a>
  <a href="javascript:void(0)" class="submit-edit-tag bbm-button">
    Edit Tag
  </a>
</div>