<header class="tag-header"
  data-toggle="collapse"
  data-target=".tag-index">
  <span class="index-header">
    <span class="caret"></span>Tags
    <button class="btn btn-xxs btn-danger new-tag">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</header>
<ul class="nav nav-pills nav-stacked tag-index collapse in">
  <% tags.each(function(tag) { %>
    <li class="tag
      <% if (_.contains(filtered, tag.id)) { %>
        filter-active
      <% } %>"
      data-id="<%= tag.id %>">
      <div class="item">
        <span class="glyphicon glyphicon-tag"></span>
        <%= tag.escape("name") %>
        <span class="badge"><%= tag.escape("notes_count") %></span>
        <span class="arrow pulse">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </span>
        <span class="show-options">
          <div class="show-options-button">
            <button class="btn btn-info btn-xxs">
              <span class="caret"></span></span>
            </button>
          </div>
          <div class="nav options-menu hidden">
            <div class="item edit-tag">Edit</div>
            <div class="item delete-tag">Delete</div>
          </div>
        </span>
      </div>
    </li>
  <% }) %>
</ul>