<header class="tag-header"
  data-toggle="collapse"
  data-target=".tag-index">
  <span class="index-header">
    <span class="caret"></span>Tags
    <button class="btn btn-xs new-tag">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </span>
</header>
<ul class="nav nav-pills nav-stacked tag-index collapse in">
  <% tags.each(function(tag) { %>
    <li class="tag
      <% if (_.contains(filtered, tag.id)) { %>
        filter-active
      <% } %>" data-id="<%= tag.id %>">
      <a href="javascript: void(0)">
        <span class="glyphicon glyphicon-tag"></span>
        <%= tag.escape("name") %>
        <span class="badge"><%= tag.escape("notes_count") %></span>
      </a>
    </li>
  <% }) %>
</ul>
<div class="new-tag-form hidden">
</div>