<h5>Tags</h5>

<ul>
  <% tags.each(function(tag) { %>
    <li class="note-tags">
      <%= tag.escape("name") %>
      <a href="javascript:void(0)" class="remove-tag">&times;</a>
    </li>
  <% }) %>
  <li class="note-tags">
    <input class="new-tag-note" type="text" size="1" value="+">
  </li>
</ul>